@charset "UTF-8";

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RobotoSerif;
  font-display: swap;
  src: url("../fonts/RobotoSerif-Regular.woff2") format("woff2"), url("../fonts/RobotoSerif-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 79.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.menu__link,
.header__button,
.header__contact,
.header__text {
  font-family: Roboto;
}

.menu__logo {
  font-family: RobotoSerif;
}

.header__intro {
  background-color: #00486D;
  min-height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px 0px 10px;
}

@supports (min-height: clamp( 1.5625rem , -2.1962118246rem  +  7.830853563vw , 3.1875rem )) {
  .header__intro {
    min-height: clamp( 1.5625rem , -2.1962118246rem  +  7.830853563vw , 3.1875rem );
  }
}

@supports not (min-height: clamp( 1.5625rem , -2.1962118246rem  +  7.830853563vw , 3.1875rem )) {
  .header__intro {
    min-height: calc(1.5625rem + 1.625 * (100vw - 47.99875rem) / 20.75125);
  }
}

.header__text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 194%;
  text-align: center;
  color: #99B6C5;
}

@supports (font-size: clamp( 0.5625rem , 0.3317307692rem  +  1.1538461538vw , 1.125rem )) {
  .header__text {
    font-size: clamp( 0.5625rem , 0.3317307692rem  +  1.1538461538vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.5625rem , 0.3317307692rem  +  1.1538461538vw , 1.125rem )) {
  .header__text {
    font-size: calc(0.5625rem + 0.5625 * (100vw - 20rem) / 48.75);
  }
}

.header__menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__contact {
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 206%;
  color: #00486D;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 2rem;
}

@supports (padding-right: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem )) {
  .header__contact {
    padding-right: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem );
  }
}

@supports not (padding-right: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem )) {
  .header__contact {
    padding-right: calc(1.3125rem + 0.6875 * (100vw - 47.99875rem) / 20.75125);
  }
}

@supports (font-size: clamp( 0.625rem , -0.3869608759rem  +  2.1083067285vw , 1.0625rem )) {
  .header__contact {
    font-size: clamp( 0.625rem , -0.3869608759rem  +  2.1083067285vw , 1.0625rem );
  }
}

@supports not (font-size: clamp( 0.625rem , -0.3869608759rem  +  2.1083067285vw , 1.0625rem )) {
  .header__contact {
    font-size: calc(0.625rem + 0.4375 * (100vw - 47.99875rem) / 20.75125);
  }
}

.header__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #00486D;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 194%;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 20px;
  z-index: 4;
}

@supports (font-size: clamp( 0.75rem , -0.1173950364rem  +  1.807120053vw , 1.125rem )) {
  .header__button {
    font-size: clamp( 0.75rem , -0.1173950364rem  +  1.807120053vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.75rem , -0.1173950364rem  +  1.807120053vw , 1.125rem )) {
  .header__button {
    font-size: calc(0.75rem + 0.375 * (100vw - 47.99875rem) / 20.75125);
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 107px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__logo {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 184%;
  color: #00486D;
  position: relative;
  padding-left: 70px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 2;
}

@supports (font-size: clamp( 1.5rem , -0.2347900729rem  +  3.614240106vw , 2.25rem )) {
  .menu__logo {
    font-size: clamp( 1.5rem , -0.2347900729rem  +  3.614240106vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.5rem , -0.2347900729rem  +  3.614240106vw , 2.25rem )) {
  .menu__logo {
    font-size: calc(1.5rem + 0.75 * (100vw - 47.99875rem) / 20.75125);
  }
}

.menu__logo::before {
  content: "";
  position: absolute;
  background: url("../img/logo.svg") 0 0/100% no-repeat;
  height: 50px;
  width: 59px;
  -webkit-transform: translate(-70px, 0);
      -ms-transform: translate(-70px, 0);
          transform: translate(-70px, 0);
}

.menu__body {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 32px;
  padding-left: 32px;
}

@supports (padding-right: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem )) {
  .menu__body {
    padding-right: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem );
  }
}

@supports not (padding-right: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem )) {
  .menu__body {
    padding-right: calc(1.3125rem + 0.6875 * (100vw - 47.99875rem) / 20.75125);
  }
}

@supports (padding-left: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem )) {
  .menu__body {
    padding-left: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem );
  }
}

@supports not (padding-left: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem )) {
  .menu__body {
    padding-left: calc(1.3125rem + 0.6875 * (100vw - 47.99875rem) / 20.75125);
  }
}

.menu-open .menu__body {
  left: 0;
}

.menu-open .menu__body::before {
  top: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

@supports ((-moz-column-gap: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem )) or (column-gap: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem );
       -moz-column-gap: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem );
            column-gap: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem )) or (column-gap: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem ))) {
  .menu__list {
    -webkit-column-gap: calc(1.3125rem + 0.6875 * (100vw - 47.99875rem) / 20.75125);
       -moz-column-gap: calc(1.3125rem + 0.6875 * (100vw - 47.99875rem) / 20.75125);
            column-gap: calc(1.3125rem + 0.6875 * (100vw - 47.99875rem) / 20.75125);
  }
}

.menu__list:not(:last-child) {
  margin-bottom: 1rem;
}

.menu__link {
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 184%;
  color: #00486D;
}

@supports (font-size: clamp( 0.75rem , -0.2619608759rem  +  2.1083067285vw , 1.1875rem )) {
  .menu__link {
    font-size: clamp( 0.75rem , -0.2619608759rem  +  2.1083067285vw , 1.1875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , -0.2619608759rem  +  2.1083067285vw , 1.1875rem )) {
  .menu__link {
    font-size: calc(0.75rem + 0.4375 * (100vw - 47.99875rem) / 20.75125);
  }
}

.icon-menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.icon-menu {
  display: none;
}

@media (max-width: 47.99875em) {
  .header__telephone {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 0.5rem;
    padding-left: 1rem;
  }

  .header__contact {
    visibility: hidden;
  }

  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding-bottom: 1.875rem;
  }

@supports (padding-top: clamp( 8.25rem , 6.862244898rem  +  6.9387755102vw , 12.5rem )) {
    .menu__body {
      padding-top: clamp( 8.25rem , 6.862244898rem  +  6.9387755102vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 8.25rem , 6.862244898rem  +  6.9387755102vw , 12.5rem )) {
    .menu__body {
      padding-top: calc(8.25rem + 4.25 * (100vw - 20rem) / 61.25);
    }
}

  .menu__body::before {
    content: "";
    top: -100%;
    position: fixed;
    width: 100%;
    left: 0;
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    background: rgba(255, 255, 255, 0.384);
  }

@supports (height: clamp( 8.25rem , 8.1887755102rem  +  0.306122449vw , 8.4375rem )) {
    .menu__body::before {
      height: clamp( 8.25rem , 8.1887755102rem  +  0.306122449vw , 8.4375rem );
    }
}

@supports not (height: clamp( 8.25rem , 8.1887755102rem  +  0.306122449vw , 8.4375rem )) {
    .menu__body::before {
      height: calc(8.25rem + 0.1875 * (100vw - 20rem) / 61.25);
    }
}

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__link {
    font-size: 2rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 29.99875em) {
  .header__telephone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__contact {
    visibility: visible;
    padding-right: 0rem;
    padding-bottom: 0.75rem;
    font-size: 1.5rem;
  }

  .header__button {
    font-size: 1.5rem;
  }
}