@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RobotoSerif;
  font-display: swap;
  src: url("../fonts/RobotoSerif-Regular.woff2") format("woff2"), url("../fonts/RobotoSerif-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.articles__learnmore::after,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\e901";
}

._icon-instagram:before {
  content: "\e902";
}

._icon-linkedin:before {
  content: "\e903";
}

._icon-twitter:before {
  content: "\e904";
}

._icon-vk:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 79.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container_wide] {
  max-width: 90rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.services_imageblock-ibg {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.advice__contact,
.advice__text,
.articles__learnmore,
.articles__text,
.articles__subtitle,
.about__button,
.about__text,
.services__button,
.services__text,
.presentation__text,
.footer__ps,
.footer__text,
.footer_socialmedia,
.menu__link,
.button,
.header__contact,
.header__text {
  font-family: Roboto;
}

.advice__titile,
.articles__titile,
.about__title,
.services__title,
.presentation__title,
.footer__title,
.menu__logo {
  font-family: RobotoSerif;
}

.header__intro {
  background-color: #00486D;
  min-height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px 0px 10px;
}

@supports (min-height: clamp( 1.5625rem , -2.1962118246rem  +  7.830853563vw , 3.1875rem )) {
  .header__intro {
    min-height: clamp( 1.5625rem , -2.1962118246rem  +  7.830853563vw , 3.1875rem );
  }
}

@supports not (min-height: clamp( 1.5625rem , -2.1962118246rem  +  7.830853563vw , 3.1875rem )) {
  .header__intro {
    min-height: calc(1.5625rem + 1.625 * (100vw - 47.99875rem) / 20.75125);
  }
}

.header__text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 194%;
  text-align: center;
  color: #99B6C5;
}

@supports (font-size: clamp( 0.5625rem , 0.3317307692rem  +  1.1538461538vw , 1.125rem )) {
  .header__text {
    font-size: clamp( 0.5625rem , 0.3317307692rem  +  1.1538461538vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.5625rem , 0.3317307692rem  +  1.1538461538vw , 1.125rem )) {
  .header__text {
    font-size: calc(0.5625rem + 0.5625 * (100vw - 20rem) / 48.75);
  }
}

.header {
  z-index: 55;
}

.header__menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__contact {
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 206%;
  color: #00486D;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 2rem;
}

@supports (padding-right: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem )) {
  .header__contact {
    padding-right: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem );
  }
}

@supports not (padding-right: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem )) {
  .header__contact {
    padding-right: calc(1.3125rem + 0.6875 * (100vw - 47.99875rem) / 20.75125);
  }
}

@supports (font-size: clamp( 0.625rem , -0.3869608759rem  +  2.1083067285vw , 1.0625rem )) {
  .header__contact {
    font-size: clamp( 0.625rem , -0.3869608759rem  +  2.1083067285vw , 1.0625rem );
  }
}

@supports not (font-size: clamp( 0.625rem , -0.3869608759rem  +  2.1083067285vw , 1.0625rem )) {
  .header__contact {
    font-size: calc(0.625rem + 0.4375 * (100vw - 47.99875rem) / 20.75125);
  }
}

.button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #00486D;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 194%;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 20px;
  z-index: 4;
}

@supports (font-size: clamp( 0.75rem , -0.1173950364rem  +  1.807120053vw , 1.125rem )) {
  .button {
    font-size: clamp( 0.75rem , -0.1173950364rem  +  1.807120053vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.75rem , -0.1173950364rem  +  1.807120053vw , 1.125rem )) {
  .button {
    font-size: calc(0.75rem + 0.375 * (100vw - 47.99875rem) / 20.75125);
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 107px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__logo {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 184%;
  color: #00486D;
  position: relative;
  padding-left: 70px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: transparent;
  z-index: 2;
}

@supports (font-size: clamp( 1.5rem , -0.2347900729rem  +  3.614240106vw , 2.25rem )) {
  .menu__logo {
    font-size: clamp( 1.5rem , -0.2347900729rem  +  3.614240106vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.5rem , -0.2347900729rem  +  3.614240106vw , 2.25rem )) {
  .menu__logo {
    font-size: calc(1.5rem + 0.75 * (100vw - 47.99875rem) / 20.75125);
  }
}

.menu__logo::before {
  content: "";
  position: absolute;
  background: url("../img/logo.svg") 0 0/100% no-repeat;
  height: 50px;
  width: 59px;
  -webkit-transform: translate(-70px, 0);
      -ms-transform: translate(-70px, 0);
          transform: translate(-70px, 0);
}

.menu__body {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 32px;
  padding-left: 32px;
}

@supports (padding-right: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem )) {
  .menu__body {
    padding-right: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem );
  }
}

@supports not (padding-right: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem )) {
  .menu__body {
    padding-right: calc(1.3125rem + 0.6875 * (100vw - 47.99875rem) / 20.75125);
  }
}

@supports (padding-left: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem )) {
  .menu__body {
    padding-left: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem );
  }
}

@supports not (padding-left: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem )) {
  .menu__body {
    padding-left: calc(1.3125rem + 0.6875 * (100vw - 47.99875rem) / 20.75125);
  }
}

.menu-open .menu__body {
  left: 0;
}

.menu-open .menu__body::before {
  top: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

@supports ((-moz-column-gap: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem )) or (column-gap: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem );
       -moz-column-gap: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem );
            column-gap: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem )) or (column-gap: clamp( 1.3125rem , -0.2777242335rem  +  3.3130534305vw , 2rem ))) {
  .menu__list {
    -webkit-column-gap: calc(1.3125rem + 0.6875 * (100vw - 47.99875rem) / 20.75125);
       -moz-column-gap: calc(1.3125rem + 0.6875 * (100vw - 47.99875rem) / 20.75125);
            column-gap: calc(1.3125rem + 0.6875 * (100vw - 47.99875rem) / 20.75125);
  }
}

.menu__list:not(:last-child) {
  margin-bottom: 1rem;
}

.menu__link {
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 184%;
  color: #00486D;
}

@supports (font-size: clamp( 0.75rem , -0.2619608759rem  +  2.1083067285vw , 1.1875rem )) {
  .menu__link {
    font-size: clamp( 0.75rem , -0.2619608759rem  +  2.1083067285vw , 1.1875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , -0.2619608759rem  +  2.1083067285vw , 1.1875rem )) {
  .menu__link {
    font-size: calc(0.75rem + 0.4375 * (100vw - 47.99875rem) / 20.75125);
  }
}

.icon-menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.icon-menu {
  display: none;
}

.footer_socialmedia {
  font-weight: 400;
  font-size: 1.25rem;
  color: #99B6C5;
  line-height: 175%;
}

@supports (font-size: clamp( 0.6875rem , -0.1244784031rem  +  1.6916657269vw , 1.25rem )) {
  .footer_socialmedia {
    font-size: clamp( 0.6875rem , -0.1244784031rem  +  1.6916657269vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.6875rem , -0.1244784031rem  +  1.6916657269vw , 1.25rem )) {
  .footer_socialmedia {
    font-size: calc(0.6875rem + 0.5625 * (100vw - 47.99875rem) / 33.25125);
  }
}

.footer__insatagram {
  position: relative;
  display: block;
}

.footer__insatagram::before {
  display: inline;
  font-size: 1.5625rem;
  position: relative;
  padding-right: 10%;
  top: 4px;
}

@supports (font-size: clamp( 1rem , 0.1880215969rem  +  1.6916657269vw , 1.5625rem )) {
  .footer__insatagram::before {
    font-size: clamp( 1rem , 0.1880215969rem  +  1.6916657269vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.1880215969rem  +  1.6916657269vw , 1.5625rem )) {
  .footer__insatagram::before {
    font-size: calc(1rem + 0.5625 * (100vw - 47.99875rem) / 33.25125);
  }
}

.footer__vk {
  position: relative;
  display: block;
}

.footer__vk::before {
  display: inline;
  font-size: 1.5625rem;
  position: relative;
  padding-right: 10%;
  top: 4px;
}

@supports (font-size: clamp( 1rem , 0.1880215969rem  +  1.6916657269vw , 1.5625rem )) {
  .footer__vk::before {
    font-size: clamp( 1rem , 0.1880215969rem  +  1.6916657269vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.1880215969rem  +  1.6916657269vw , 1.5625rem )) {
  .footer__vk::before {
    font-size: calc(1rem + 0.5625 * (100vw - 47.99875rem) / 33.25125);
  }
}

.footer__container {
  background-color: #00486D;
}

.footer__content {
  padding-top: 160px;
  padding-bottom: 160px;
  padding-left: 85px;
  padding-right: 85px;
  display: -ms-grid;
  display: grid;
  grid-template: auto/repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  justify-items: center;
}

.footer__title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 130%;
  color: #FFFFFF;
  padding-bottom: 40px;
}

@supports (font-size: clamp( 1.25rem , 0.5282414195rem  +  1.5037028683vw , 1.75rem )) {
  .footer__title {
    font-size: clamp( 1.25rem , 0.5282414195rem  +  1.5037028683vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.5282414195rem  +  1.5037028683vw , 1.75rem )) {
  .footer__title {
    font-size: calc(1.25rem + 0.5 * (100vw - 47.99875rem) / 33.25125);
  }
}

.footer__text {
  font-weight: 400;
  font-size: 1.1875rem;
  color: #99B6C5;
  line-height: 184%;
}

@supports (font-size: clamp( 0.625rem , -0.1869784031rem  +  1.6916657269vw , 1.1875rem )) {
  .footer__text {
    font-size: clamp( 0.625rem , -0.1869784031rem  +  1.6916657269vw , 1.1875rem );
  }
}

@supports not (font-size: clamp( 0.625rem , -0.1869784031rem  +  1.6916657269vw , 1.1875rem )) {
  .footer__text {
    font-size: calc(0.625rem + 0.5625 * (100vw - 47.99875rem) / 33.25125);
  }
}

.footer__facebook {
  position: relative;
  display: block;
}

.footer__facebook::before {
  display: inline;
  font-size: 1.5625rem;
  position: relative;
  padding-right: 10%;
  top: 4px;
}

@supports (font-size: clamp( 1rem , 0.1880215969rem  +  1.6916657269vw , 1.5625rem )) {
  .footer__facebook::before {
    font-size: clamp( 1rem , 0.1880215969rem  +  1.6916657269vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.1880215969rem  +  1.6916657269vw , 1.5625rem )) {
  .footer__facebook::before {
    font-size: calc(1rem + 0.5625 * (100vw - 47.99875rem) / 33.25125);
  }
}

.footer__ps {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 250%;
  color: #99B6C5;
  background-color: #002B41;
  margin: 0px -15px 0px -15px;
  padding: 0px 15px 0px 15px;
}

.presentation {
  background-color: #E4ECF0;
}

.presentation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.presentation__container_wide {
  background-color: #E4ECF0;
  background: url("../img/decor2.svg") 15px 1% no-repeat;
}

.presentation__about {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-left: 85px;
  padding-top: 96px;
  padding-bottom: 96px;
  padding-right: 80px;
}

@supports (padding-left: clamp( 0.0000000625rem , -40.6249994596rem  +  49.9999994118vw , 5.3125rem )) {
  .presentation__about {
    padding-left: clamp( 0.0000000625rem , -40.6249994596rem  +  49.9999994118vw , 5.3125rem );
  }
}

@supports not (padding-left: clamp( 0.0000000625rem , -40.6249994596rem  +  49.9999994118vw , 5.3125rem )) {
  .presentation__about {
    padding-left: calc(0.0000000625rem + 5.3124999375 * (100vw - 81.25rem) / 10.625);
  }
}

.presentation__title {
  font-weight: 400;
  font-size: 3.4375rem;
  line-height: 122%;
  color: #00486D;
  margin-bottom: 1.5625rem;
}

@supports (font-size: clamp( 2.5rem , 1.1467026616rem  +  2.8194428781vw , 3.4375rem )) {
  .presentation__title {
    font-size: clamp( 2.5rem , 1.1467026616rem  +  2.8194428781vw , 3.4375rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 1.1467026616rem  +  2.8194428781vw , 3.4375rem )) {
  .presentation__title {
    font-size: calc(2.5rem + 0.9375 * (100vw - 47.99875rem) / 33.25125);
  }
}

.presentation__text {
  color: #00486D;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 175%;
  margin-bottom: 1.875rem;
}

@supports (font-size: clamp( 1rem , 0.2782414195rem  +  1.5037028683vw , 1.5rem )) {
  .presentation__text {
    font-size: clamp( 1rem , 0.2782414195rem  +  1.5037028683vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.2782414195rem  +  1.5037028683vw , 1.5rem )) {
  .presentation__text {
    font-size: calc(1rem + 0.5 * (100vw - 47.99875rem) / 33.25125);
  }
}

.presentation__image-ibg {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 576px;
  max-height: 100%;
  -webkit-transform: translate(-15%, 7.5%);
      -ms-transform: translate(-15%, 7.5%);
          transform: translate(-15%, 7.5%);
}

@supports (max-width: clamp( 18.75rem , -6.1506710274rem  +  51.8777489568vw , 36rem )) {
  .presentation__image-ibg {
    max-width: clamp( 18.75rem , -6.1506710274rem  +  51.8777489568vw , 36rem );
  }
}

@supports not (max-width: clamp( 18.75rem , -6.1506710274rem  +  51.8777489568vw , 36rem )) {
  .presentation__image-ibg {
    max-width: calc(18.75rem + 17.25 * (100vw - 47.99875rem) / 33.25125);
  }
}

.presentation__image-ibg::after {
  content: "";
  position: absolute;
  width: 208px;
  height: 208px;
  background: url("../img/decor1.svg") 0 0 no-repeat;
  -webkit-transform: translate(-30%, 310%);
      -ms-transform: translate(-30%, 310%);
          transform: translate(-30%, 310%);
}

.presentation__image-ibg::before {
  content: "";
  position: absolute;
  background-color: #00486D;
  width: 100%;
  height: 100%;
  top: -7.5%;
  right: -15%;
}

.presentation__image {
  -webkit-filter: drop-shadow(0px 32px 24px rgba(0, 72, 109, 0.5));
          filter: drop-shadow(0px 32px 24px rgba(0, 72, 109, 0.5));
  z-index: 5;
}

.services__container {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.services__textblock {
  padding-bottom: 3.5rem;
}

.services__title {
  font-weight: 400;
  font-size: 2.75rem;
  line-height: 120%;
  color: #00486D;
  padding-bottom: 1.5625rem;
}

@supports (font-size: clamp( 1.875rem , 0.6119224841rem  +  2.6314800195vw , 2.75rem )) {
  .services__title {
    font-size: clamp( 1.875rem , 0.6119224841rem  +  2.6314800195vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 0.6119224841rem  +  2.6314800195vw , 2.75rem )) {
  .services__title {
    font-size: calc(1.875rem + 0.875 * (100vw - 47.99875rem) / 33.25125);
  }
}

.services__text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 175%;
  color: #00486D;
}

@supports (font-size: clamp( 1rem , 0.2782414195rem  +  1.5037028683vw , 1.5rem )) {
  .services__text {
    font-size: clamp( 1rem , 0.2782414195rem  +  1.5037028683vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.2782414195rem  +  1.5037028683vw , 1.5rem )) {
  .services__text {
    font-size: calc(1rem + 0.5 * (100vw - 47.99875rem) / 33.25125);
  }
}

.services__imagesblocks-content {
  display: -ms-grid;
  display: grid;
  gap: 5px;
  grid-template: 400px/repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 400px;
}

.services__image {
  z-index: 2;
}

.services__button {
  position: relative;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #00486D;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 194%;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 50px;
  z-index: 3;
}

@supports (font-size: clamp( 0.75rem , 0.2086810646rem  +  1.1277771512vw , 1.125rem )) {
  .services__button {
    font-size: clamp( 0.75rem , 0.2086810646rem  +  1.1277771512vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.2086810646rem  +  1.1277771512vw , 1.125rem )) {
  .services__button {
    font-size: calc(0.75rem + 0.375 * (100vw - 47.99875rem) / 33.25125);
  }
}

.no-webp .about__content{
  background: url("../img/excavator.jpg") 50%/cover no-repeat; }

.about__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: 680px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 1;
}

.about__textblock {
  position: relative;
  max-width: 423px;
  max-height: 100%;
  background-color: #00486D;
  padding: 53px 58px 72px 56px;
  border-radius: 2px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about__textblock::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 208px;
  height: 208px;
  background: url("../img/decor1.svg") 0 0 no-repeat;
  top: -60px;
  right: -15%;
}

.about__title {
  font-weight: 400;
  font-size: 2.1875pxrem;
  line-height: 120%;
  color: #F2F6F7;
  padding-bottom: 1.4375rem;
}

@supports (font-size: clamp( 1.5rem , 0.5075819518rem  +  2.0675914439vw , 2.1875rem )) {
  .about__title {
    font-size: clamp( 1.5rem , 0.5075819518rem  +  2.0675914439vw , 2.1875rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 0.5075819518rem  +  2.0675914439vw , 2.1875rem )) {
  .about__title {
    font-size: calc(1.5rem + 0.6875 * (100vw - 47.99875rem) / 33.25125);
  }
}

.about__text {
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 184%;
  color: #F2F6F7;
  padding-bottom: 3.75rem;
}

@supports (font-size: clamp( 0.75rem , 0.1184612421rem  +  1.3157400098vw , 1.1875rem )) {
  .about__text {
    font-size: clamp( 0.75rem , 0.1184612421rem  +  1.3157400098vw , 1.1875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.1184612421rem  +  1.3157400098vw , 1.1875rem )) {
  .about__text {
    font-size: calc(0.75rem + 0.4375 * (100vw - 47.99875rem) / 33.25125);
  }
}

.about__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #F2F6F7;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 194%;
  text-align: center;
  color: #00486D;
  padding: 15px 50px;
}

@supports (font-size: clamp( 0.75rem , -0.1173950364rem  +  1.807120053vw , 1.125rem )) {
  .about__button {
    font-size: clamp( 0.75rem , -0.1173950364rem  +  1.807120053vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.75rem , -0.1173950364rem  +  1.807120053vw , 1.125rem )) {
  .about__button {
    font-size: calc(0.75rem + 0.375 * (100vw - 47.99875rem) / 20.75125);
  }
}

.articles__content {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.articles__blocks {
  display: -ms-grid;
  display: grid;
  grid-template: auto/repeat(auto-fit, minmax(395px, 1fr));
  grid-auto-rows: auto;
  gap: 2.625rem;
}

.articles__titile {
  font-weight: 400;
  font-size: 2.75rem;
  line-height: 120%;
  color: #00486D;
  padding-bottom: 60px;
}

@supports (font-size: clamp( 1.875rem , 0.6119224841rem  +  2.6314800195vw , 2.75rem )) {
  .articles__titile {
    font-size: clamp( 1.875rem , 0.6119224841rem  +  2.6314800195vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 0.6119224841rem  +  2.6314800195vw , 2.75rem )) {
  .articles__titile {
    font-size: calc(1.875rem + 0.875 * (100vw - 47.99875rem) / 33.25125);
  }
}

.articles__block {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  border: 1px solid #E4ECF0;
  -webkit-box-shadow: 0px 24px 24px rgba(0, 72, 109, 0.2);
          box-shadow: 0px 24px 24px rgba(0, 72, 109, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

.articles__article-ibg {
  max-width: 100%;
  height: 260px;
}

.articles__subtitle {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 150%;
  color: #00486D;
  padding-top: 1.875rem;
  padding-left: 2rem;
  padding-right: 4.25rem;
  padding-bottom: 1.875rem;
}

@supports (font-size: clamp( 1rem , 0.0978017744rem  +  1.8796285854vw , 1.625rem )) {
  .articles__subtitle {
    font-size: clamp( 1rem , 0.0978017744rem  +  1.8796285854vw , 1.625rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.0978017744rem  +  1.8796285854vw , 1.625rem )) {
  .articles__subtitle {
    font-size: calc(1rem + 0.625 * (100vw - 47.99875rem) / 33.25125);
  }
}

.articles__text {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 150%;
  color: #00486D;
  padding-bottom: 1.875rem;
  padding-left: 2rem;
  padding-right: 4.25rem;
}

@supports (font-size: clamp( 0.875rem , 0.1532414195rem  +  1.5037028683vw , 1.375rem )) {
  .articles__text {
    font-size: clamp( 0.875rem , 0.1532414195rem  +  1.5037028683vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.1532414195rem  +  1.5037028683vw , 1.375rem )) {
  .articles__text {
    font-size: calc(0.875rem + 0.5 * (100vw - 47.99875rem) / 33.25125);
  }
}

.articles__learnmore {
  position: relative;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 184%;
  color: #00486D;
  padding-bottom: 2.5rem;
  padding-left: 2rem;
}

@supports (font-size: clamp( 0.625rem , -0.1869784031rem  +  1.6916657269vw , 1.1875rem )) {
  .articles__learnmore {
    font-size: clamp( 0.625rem , -0.1869784031rem  +  1.6916657269vw , 1.1875rem );
  }
}

@supports not (font-size: clamp( 0.625rem , -0.1869784031rem  +  1.6916657269vw , 1.1875rem )) {
  .articles__learnmore {
    font-size: calc(0.625rem + 0.5625 * (100vw - 47.99875rem) / 33.25125);
  }
}

.articles__learnmore::after {
  content: "\e900";
  font-size: 1rem;
  position: relative;
  top: 6%;
  left: 2%;
}

@supports (font-size: clamp( 0.5rem , -0.2217585805rem  +  1.5037028683vw , 1rem )) {
  .articles__learnmore::after {
    font-size: clamp( 0.5rem , -0.2217585805rem  +  1.5037028683vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.5rem , -0.2217585805rem  +  1.5037028683vw , 1rem )) {
  .articles__learnmore::after {
    font-size: calc(0.5rem + 0.5 * (100vw - 47.99875rem) / 33.25125);
  }
}

.advice__container {
  background-color: #E4ECF0;
}

.advice__content {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.advice__titile {
  font-weight: 400;
  font-size: 2.75rem;
  line-height: 120%;
  text-align: center;
  color: #00486D;
  padding-bottom: 1.1875rem;
}

@supports (font-size: clamp( 1.875rem , 0.6119224841rem  +  2.6314800195vw , 2.75rem )) {
  .advice__titile {
    font-size: clamp( 1.875rem , 0.6119224841rem  +  2.6314800195vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 0.6119224841rem  +  2.6314800195vw , 2.75rem )) {
  .advice__titile {
    font-size: calc(1.875rem + 0.875 * (100vw - 47.99875rem) / 33.25125);
  }
}

.advice__text {
  font-weight: 400;
  font-size: 1.4375rem;
  line-height: 183%;
  text-align: center;
  color: #00486D;
  padding-bottom: 2.8125rem;
}

@supports (font-size: clamp( 1rem , 0.3684612421rem  +  1.3157400098vw , 1.4375rem )) {
  .advice__text {
    font-size: clamp( 1rem , 0.3684612421rem  +  1.3157400098vw , 1.4375rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.3684612421rem  +  1.3157400098vw , 1.4375rem )) {
  .advice__text {
    font-size: calc(1rem + 0.4375 * (100vw - 47.99875rem) / 33.25125);
  }
}

.advice__contact {
  font-weight: 400;
  font-size: 1rem;
  line-height: 183%;
  text-align: center;
  color: #00486D;
  padding-bottom: 1.375rem;
}

@supports (font-size: clamp( 0.6875rem , 0.2364008872rem  +  0.9398142927vw , 1rem )) {
  .advice__contact {
    font-size: clamp( 0.6875rem , 0.2364008872rem  +  0.9398142927vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.6875rem , 0.2364008872rem  +  0.9398142927vw , 1rem )) {
  .advice__contact {
    font-size: calc(0.6875rem + 0.3125 * (100vw - 47.99875rem) / 33.25125);
  }
}

.advice__button {
  font-size: 1.125rem;
}

@supports (font-size: clamp( 0.6875rem , 0.4642757489rem  +  1.1161212554vw , 1rem )) {
  .advice__button {
    font-size: clamp( 0.6875rem , 0.4642757489rem  +  1.1161212554vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.6875rem , 0.4642757489rem  +  1.1161212554vw , 1rem )) {
  .advice__button {
    font-size: calc(0.6875rem + 0.3125 * (100vw - 20rem) / 27.99875);
  }
}

.advice__button-center {
  text-align: center;
}

@media (max-width: 47.99875em) {
  .header__intro {
    position: fixed;
    width: 100%;
    z-index: 5;
  }

  .header__menu {
    position: fixed;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: -15px;
    padding-left: 15px;
    margin-right: -15px;
    padding-right: 15px;
    top: 25px;
  }

  .header__telephone {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 0.5rem;
    padding-left: 1rem;
  }

  .header__contact {
    visibility: hidden;
    font-size: 0px;
  }

  .menu__body {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding-bottom: 1.875rem;
  }

@supports (padding-top: clamp( 8.25rem , 6.862244898rem  +  6.9387755102vw , 12.5rem )) {
    .menu__body {
      padding-top: clamp( 8.25rem , 6.862244898rem  +  6.9387755102vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 8.25rem , 6.862244898rem  +  6.9387755102vw , 12.5rem )) {
    .menu__body {
      padding-top: calc(8.25rem + 4.25 * (100vw - 20rem) / 61.25);
    }
}

  .menu__body::before {
    content: "";
    top: -100%;
    position: fixed;
    width: 100%;
    left: 0;
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    background: rgba(255, 255, 255, 0.384);
  }

@supports (height: clamp( 8.25rem , 8.1887755102rem  +  0.306122449vw , 8.4375rem )) {
    .menu__body::before {
      height: clamp( 8.25rem , 8.1887755102rem  +  0.306122449vw , 8.4375rem );
    }
}

@supports not (height: clamp( 8.25rem , 8.1887755102rem  +  0.306122449vw , 8.4375rem )) {
    .menu__body::before {
      height: calc(8.25rem + 0.1875 * (100vw - 20rem) / 61.25);
    }
}

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__link {
    font-size: 2rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__text {
    padding-bottom: 20px;
  }

  .presentation__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 100px;
  }

  .presentation__about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .presentation__title {
    text-align: center;
    font-size: 2.5rem;
  }

  .presentation__text {
    text-align: justify;
    font-size: 1rem;
  }

  .presentation__image-ibg::after {
    display: none;
  }

  .presentation__image-ibg {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 500px;
            flex: 1 1 500px;
    max-width: 100%;
    max-height: 500px;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .services__title {
    text-align: center;
    font-size: 1.875rem;
  }

  .services__text {
    text-align: center;
    font-size: 1rem;
  }

  .about__textblock::before {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .header__telephone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__contact {
    visibility: visible;
    padding-right: 0rem;
    padding-bottom: 0.75rem;
    font-size: 1.5rem;
  }

  .button {
    font-size: 1.5rem;
  }

  .services__button {
    font-size: 1.5rem;
  }

  .about__button {
    font-size: 0.75rem;
  }

  .advice__button {
    font-size: 0.75rem;
  }
}

@media (any-hover: hover) {
  .services_imageblock-ibg:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

.webp .about__content{ background: url(../img/excavator.webp) 50%/cover no-repeat; }